<!DOCTYPE html>
<html>
  <head>
    <title>Accept Invitation and Change Password</title>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      h1 {
        text-align: center;
      }
      form {
        width: 50%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      label {
        margin-bottom: 10px;
      }
      input[type="password"],
      input[type="email"],
      select {
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
      }
      button[type="submit"] {
        background-color: #4caf50;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      button[type="submit"]:hover {
        background-color: #45a049;
      }
      .error {
        color: red;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Accept Invitation and Change Password</h1>

    <form
      method="POST"
      action="/api/users/accept-invitation-and-change-password"
    >
      <br />
      <label>
        Password:
        <input type="password" name="password" required />
      </label>
      <br />
      <label>
        Confirm Password:
        <input type="password" name="confirmPassword" required />
      </label>
      <br />
      <button type="submit">Change Password</button>
    </form>
  </body>
</html>
