<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Channels</title>
  </head>
  <body>
    <h1>Channels:</h1>
    <ul>
      <% for (let i = 0; i < channels.length; i++) { %>
        <li><%= channels[i].name %></li>
      <% } %>
    </ul>
  </body>
</html>
